@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
  background-color: rgb(20, 20, 20);
  /* max-width: 1800px; */
}
input {

}
header {
  padding: 0 70px;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
header .wrap > a {
  font-family: 'Poiret One', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #e50914;
  text-decoration: none;
  letter-spacing: 1.5px;
}
header .wrap {
  max-width: 1440px;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
}
header .wrap nav .home {

}
header .wrap nav .about {

}
header .wrap nav .owner {
  
}

.container {
  display: flex;

}
.container > input {
  border-radius: 25px;
  width: 10%;
}
.container #btnSearch {
  border: none;
}